# -----------------------------------------------------------------------------
# App
# -----------------------------------------------------------------------------
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# -----------------------------------------------------------------------------
# Authentication (NextAuth.js)
# -----------------------------------------------------------------------------
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="somesecret"

# -----------------------------------------------------------------------------
# Database (MySQL - PlanetScale)
# -----------------------------------------------------------------------------
DATABASE_URL="mongodb://root:example@localhost:27017/mydatabase?authSource=admin"
MONGODB_URI="mongodb://root:example@localhost:27017/mydatabase?authSource=admin"

GOOGLE_CLIENT_ID=your_client_id_here
GOOGLE_CLIENT_SECRET=your_client_secret_here

# -----------------------------------------------------------------------------
# Blockchain (Contract Addresses)
# -----------------------------------------------------------------------------
NEXT_PUBLIC_TOKEN_ADDRESS=REDACTED_SECRET"
NEXT_PUBLIC_CONTRACT_ADDRESS=REDACTED_SECRET"

# -----------------------------------------------------------------------------
# Chat Socket Address
# -----------------------------------------------------------------------------
NEXT_PUBLIC_CHAT_BACKEND="http://localhost:5000"